<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="page-header">Stocks Issue History List</h4>
    </div>
    <div class="col-md-6 pull-right" style="text-align: right">
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-question" aria-hidden="true"></i> Help</button>
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-refresh"></i> Reload</button>
        <button type="button" class="btn btn-primary" (click)="btnClickNav('stocks')">
          <i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
              <h5>Stocks Issue History</h5>
            </div>
            <div class="col-md-3">
              <form role="form" (ngSubmit)="dataSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" name="search" placeholder="Search" [(ngModel)]="search_key">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <table class="card-body table table-hover table-sm table-bordered">
          <thead>
            <tr>
              <th>Sl.No.</th>
              <th>Date</th>
              <th>Quantity</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>2018-05-23 13:26:26</td>
              <td>32.00</td>
              <td>ewr</td>
            </tr>
            <!-- <tr *ngIf="stockIssueList.length == 0">
              <td colspan="4" class="text-center">No record found</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="totalStockIssueList > 10">
    <div class="col-md-12">
      <div class="card-body pull-right">
        <ngb-pagination [collectionSize]="totalStockIssueList" [(page)]="defaultPagination" (pageChange)="pagination()" size="sm"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin"></ngx-spinner>