/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@ng-select/ng-select/themes/default.theme.css";
// 28-05-2018
.info {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
    cursor: pointer;
    color: #000;
}
.form-control.ng-select{
    padding: 0;
}
.ng-select.ng-select-single .ng-select-container{
    border: none;
    height: calc(1.875rem + 2px);
    min-height: calc(1.875rem + 2px);
}