/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

// 28-05-2018
.info {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
    cursor: pointer;
    color: #000;
}
