<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="page-header">Purchase Invoice List</h4>
    </div>
    <div class="col-md-6 pull-right" style="text-align: right">
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-question" aria-hidden="true"></i> Help</button>
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-refresh"></i> Reload</button>
      <button type="button" class="btn btn-primary" (click)="btnClickNav('purchase-invoice/add')">
        <i class="fa fa-plus"></i> New Purchase Invoice</button>
    </div>
    <div class="clearfix"></div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
              <h5>Purchase Invoice</h5>
            </div>
            <div class="col-md-3">
              <form role="form" (ngSubmit)="dataSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" name="search" placeholder="Search" [(ngModel)]="search_key">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <table class="card-body table table-hover table-sm table-bordered">
          <thead>
            <tr>
              <th>Sl.No.</th>
              <th>Company</th>
              <th>PO INV No <span class="info" ngbTooltip="Purchase Order Invoice Number">i</span></th>
              <th>Grn No</th>
              <th>PO No <span class="info" ngbTooltip="Purchase Order Number">i</span></th>
              <th>Goods Recd ON</th>
              <th>Goods Received BY</th>
              <th>Status</th>
              <th>Apporve</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pInvoice of purchaseInvoiceList ; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{pInvoice.company.company_name}}</td>
              <td>{{pInvoice.pur_invoice_map[0].purchase_inv_no}}</td>
              <td>{{pInvoice.grn_number[0].grn_no}}</td>
              <td>{{pInvoice.po_order_no[0].purchase_order_no}}</td>
              <td>{{pInvoice.grn.created_at | date:'dd-MM-yyyy'}}</td>
              <td>{{pInvoice.grn.created_by.first_name}}</td>
              <td>
                <label *ngIf="pInvoice.is_finalised == 1">Finalised</label>
                <label *ngIf="pInvoice.status && pInvoice.is_finalised == 0">Active</label>
                <label *ngIf="!pInvoice.status && pInvoice.is_finalised == 0">Inactive</label>
                <select *ngIf="pInvoice.is_finalised == 0" class="form-control" name="status" (change)="changeStatus($event.target.value,pInvoice.id)">
                  <option value=''>Change Status</option>
                  <option value='0'>Cancel</option>
                  <option value='1'>Active</option>
                </select>
              </td>
              <td>
                <label *ngIf="pInvoice.is_finalised == 1">Finalised</label>
                <label *ngIf="pInvoice.is_approve == 1 && pInvoice.is_finalised == 0">Yes</label>
                <label *ngIf="pInvoice.is_approve == 0 && pInvoice.is_finalised == 0">No</label>
                <select *ngIf="pInvoice.is_finalised == 0" class="form-control" name="is_approve" (change)="changeApproveStatus($event.target.value,pInvoice.id)">
                  <option value='0'>Change Approve</option>
                  <option value='1'>Approve</option>
                  <option value='2'>Dis-Approve</option>
                </select>
              </td>
              <td>
                <a href="javascript:void(0);" title="View" name="View" [routerLink]="['/purchase-invoice/details', pInvoice.id]">
                  <i class="fa fa-eye"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="purchaseInvoiceList.length == 0">
              <td colspan="12" class="text-center">No record found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="totalurchaseInvoiceList > 10">
    <div class="col-md-12">
      <div class="card-body pull-right">
        <ngb-pagination [collectionSize]="totalurchaseInvoiceList" [(page)]="defaultPagination" (pageChange)="pagination()" size="sm"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin"></ngx-spinner>